
   <div id="Header-container">
    <h1>GraphQL</h1>
    <button id="logout">Logout</button>
   </div>
    <div id="User-container">
    </div>
    <div id="stats-container">
    <div id="skill-container">
        <h1>Skill</h1>
        <pie-chart id="pie-chart" data="" labels="Go;Back;Front;Html;Js"> </pie-chart> 
    </div>
    <div id="xp-container">
        <h3>Audit-Ratio <h4 id="title">Audit-Ratio</h1></h1>
        
        <pie-chart2 id="pie-chart2" data="" labels="Up;Down"> </pie-chart2> 
        <!-- <div id="UpDown">
        <h4>Up</h4>
        <h4>Down</h4>
        </div> -->
    </div>
</div>
   
